<?xml version="1.0"?>
<!--
/**
 * ScandiPWA - Progressive Web App for Magento
 *
 * Copyright © Scandiweb, Inc. All rights reserved.
 * See LICENSE for license details.
 *
 * @license OSL-3.0 (Open Software License ("OSL") v. 3.0)
 * @package scandipwa/reviews-graphql
 * @link https://github.com/scandipwa/reviews-graphql
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="ScandiPWA\Performance\Model\Resolver\Products\CollectionPostProcessor">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="review_summary" xsi:type="object">ScandiPWA\ReviewsGraphQl\Model\Resolver\Products\CollectionPostProcessor\ReviewSummary</item>
            </argument>
        </arguments>
    </type>
</config>